/* Main */
body {
    background-color: #eeffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%233f486e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cedbde' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234b5279' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ccdddc' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23585c85' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23cdded9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23656690' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23d0dfd5' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2372709c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d5dfd0' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237f7ba8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23dddecc' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.container {
    overflow: hidden;
}

/* Title */
.title-row {
    margin-bottom: 40px;
}
.flag-dd {
    margin: 5px 15px 0 0;
}
.flag-dd .dropdown-toggle {
    border: 1px solid silver;
    background-color: #fff;
}

/* Form */
.form-item-container {
    height: 90px;
}

/* Instructions */
.instructions-container {
    margin-top: 40px;
}
.instructions-steps {
    list-style-type: none;
}
.instructions-csv {
    background-color: #eee;
    padding: 10px;
}

/* Graph */
.reset-container {
    margin: 20px 0;
}

/* Misc */
.bi {
    margin-right: 8px;
}
.bg-white {
    background-color: #fff;
}
